<!-- views/weather.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Weather Maps App</title>
</head>
<body>
<main>
    <h1 class="application-name">Another Weather App 🙄</h1>
    <br>
    <form action="/weather" method="get" class="enter-city-form">
        <input type="text" id="city" name="city" placeholder="city" required>
    </form>
    <br>
</main>
</body>
</html>
